{% load mptt_tags %}
<select class="input-block-level" {{final_attrs|safe}}>
    <option value>---------</option>
    {% for node in choices %}
        <option class="" value="{{node.pk}}" {% if selected = node.pk %}selected{% endif %}>
            {{ node.ancestor_names }}
        </option>
    {% endfor %}
</select>
