{% extends 'base.html' %}
{% load comments %}
{% block title %}Complete Incident Details{% endblock title %}
{% block page_title %}{% endblock page_title %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}datepicker/css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>
{% endblock extra_js %}


{% block content %}
<div class="row">
    <div class="span3">
        <h4>Actions</h4>
        <ul>
            <li><a href=""><i class="icon-print"></i>Print</a></li>
            <li><a href=""><i class="icon-download"></i>Export</a></li>
        </ul>
    </div>
    <div class="span9">
        <div class="row">
            <div class="span9">

                <h3>Complete Incident Details</h3>

                <h5 class="underline">Incident</h5>
                <dl class="dl-horizontal" >
                    <dt>Incident Date:</dt>
                    <dd>{{incident.incident_date}}</dd>

                    <dt>Submitted:</dt>
                    <dd>{{incident.submitted_by}} on {{incident.submitted}}</dd>

                    <dt>Incident Type:</dt>
                    <dd>{{incident.get_incident_type_display}}</dd>

                    <dt>Location:</dt>
                    <dd><a href="#">{{incident.location.name}}</a></dd>

                    <dt>PSLS Id</dt>
                    <dd>{% if incident.psls_id %}{{incident.psls_id}}{% else %}<em>N/A</em>{%endif%}</dd>


                    <dt>Description:</dt>
                    <dd><p>{{incident.description}}</p></dd>
                </dl>

                <h5 class="underline">Analysis</h5>
                {% with incident.investigation as inv %}
                <dl class="dl-horizontal" >

                    <dt>Investigator:</dt>
                    <dd>{{inv.investigator.username}}</dd>

                    <dt>Completed</dt>
                    <dd>{{inv.completed|date}}</dd>
                    <dt>Detection Domain:</dt>
                    <dd><a href="#">{{inv.detection_domain.name}}</a></dd>

                    <dt>Origin Domain:</dt>
                    <dd><a href="#">{{inv.origin_domain.name}}</a></dd>

                    <dt>Dosimetric Severity:</dt>
                    <dd><abbr title="{{inv.dose_severity.definition}}">{{inv.dose_severity.name}}</abbr></dd>

                    <dt>Medical Severity:</dt>
                    <dd><abbr title="{{inv.med_severity.definition}}">{{inv.med_severity.name}}</abbr></dd>

                    <dt>Causality:</dt>
                    <dd>
                        <ul class="unstyled">
                        {% for icause in incident.incidentcauses_set.all %}
                            <li>
                            {% with icause.cause as cause %}
                                <a href="#" title="{% firstof cause.description cause.name %}">{{cause.name}}</a></dd>
                            {% endwith %}
                            </li>
                        {% endfor %}
                        </ul>
                    </dd>

                </dl>
                {% endwith %}

                <h5 class="underline">Learning &amp; Follow Up Actions</h5>

                <dt>Causality:</dt>
                <dd>
                    {% for iaction in incident.incidentaction_set.all %}
                        <dl class="dl-horizontal">
                            <dt>Type:</dt>
                            <dd>{{iaction.action_type.name}}</dd>

                            <dt>Responsible:</dt>
                            <dd>{{iaction.responsible.username}}</dd>

                            <dt>Completed</dt>
                            <dd>{{iaction.completed}}</dd>

                            <dt>Description</dt>
                            <dd>{{iaction.description}}</dd>
                        </dl>
                    {% endfor %}
                </dd>
            </div>
        </div>

        <div class="row">
            <div class="span9">
                <h5 class="underline">Comments</h5>

                {% get_comment_count for incident as comment_count %}
                {% if comment_count > 0 %}
                    {% render_comment_list for incident %}
                {% else %}
                <em>No comments available for this incident</em>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}

