{% extends 'base.html' %}
{% load listable %}

{% block title %}Incident Dashboard{% endblock title %}

{% block page_title %}{% endblock page_title %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet">
    {% listable_css %}
{% endblock extra_css %}

{% block extra_js %}
    <script type="text/javascript" >
        var type_counts = {{type_counts|safe}};
        var status_counts = {{status_counts|safe}};
        var severity_counts = {{severity_counts|safe}};
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}select2/select2.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-editable/js/bootstrap-editable.js"></script>
    <script src="{{ STATIC_URL }}incidents/js/dashboard.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{STATIC_URL}}flot/excanvas.min.js"></script><![endif]-->
    <script src="{{ STATIC_URL }}flot/jquery.flot.min.js"></script>
    <script src="{{ STATIC_URL }}flot/jquery.flot.categories.js"></script>
    <script src="{{ STATIC_URL }}flot/jquery.flot.stack.js"></script>

    {% listable_js %}

{% endblock %}

{% block content %}

{% if request.user.is_anonymous %}
<div class="row">
    <div class="span12">
        <p>Please <a href="{% url 'django.contrib.auth.views.login' %}?next={{request.path}}">Login</a> Before Continuing</p>
    </div>
</div>
{% else %}

<div class="row">
    <div class="span6">
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <h4 class="brand">Summary</h4>
            </div>
            <div>
                <dl class="dl-horizontal">
                    {% for dt, dd in summary_items %}
                        <dt>{{dt|safe}}</dt>
                        <dd>{{dd|safe}}</dd>
                    {% endfor %}
                </dl>

            </div>
        </div>

    </div>
    <div class="span6">
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <h4 class="brand">Your Profile</h4>
            </div>
            <div>
                <form action="" method="POST">
                    {% csrf_token %}

                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox" for="investigation_notification">
                                <input name="investigations" type="checkbox" {% if user.investigation_notifications%}checked="checked"{% endif %}/>
                                Receive Investigation Assignment Notifcations
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox" for="investigation_notification">
                                <input name="actions" type="checkbox" {% if user.action_notifications%}checked="checked"{% endif %}/>
                                Receive Action Assignment Notifcations
                            </label>
                        </div>
                    </div>

                    <button class="btn btn-small pull-right" type="submit">Update</button>
                </form>

            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="span6">

        <div class="block">
            <div class="navbar navbar-inner block-header">
                <h4 class="brand">Incomplete Investigations</h4>
            </div>

            <p>You currently have {{user_incomplete_investigations.count}} incomplete investigations assigned to you.</p>

            <table id="action-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Incident Date</th>
                        <th>Severity</th>
                        <th>Assigned To You</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                {% for inv in user_incomplete_investigations %}
                    {% with inv.incident as inc %}
                    <tr class="">
                        <td>
                        {% if inc %} <a href="{% url 'incident' inc.pk %}" >#{{inc.id}}</a> {% endif %}
                        </td>
                        <td> {{inc.incident_date|date:"SHORT_DATE_FORMAT"}} </td>
                        <td> {{inc.severity}} </td>
                        <td> {{inv.assigned|date:"SHORT_DATE_FORMAT"}} </td>
                        <td> <abbr title="{{inc.description}}">{{inc.description|truncatechars:30}}</abbr> </td>
                    </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="span6">
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <h4 class="brand">Incomplete Learning Actions</h4>
            </div>

            <p>You currently have {{user_actions.count}} incomplete learning actions assigned to you.</p>

            <table id="incident-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Assigned</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                {% for action in user_actions %}
                    <tr class="">
                        <td>
                            {%if action.incident %}
                            <a href="{% url 'incident' action.incident.pk %}?edit-actions=1" >#{{action.incident.id}}</a>
                            {% endif %}
                        </td>
                        <td> <abbr title="Assigned By {{action.assigned_by}}">{{action.assigned|date:"SHORT_DATE_FORMAT"}} </td>
                        <td> <abbr title="{{action.description}}">{{action.description|truncatechars:70}}</abbr> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <div class="navbar navbar-inner block-header">
                    <h4 class="brand">Stats</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <div class="block">
                    <h5 style="text-align:center;">Incident counts by type for the last year</h5>
                    <div id="incident-chart" style="width:100%; height:300px"></div>
                </div>
            </div>
            <div class="span4">
                <div class="block">
                    <h5 style="text-align:center;">Incident counts by severity for the last year</h5>
                    <div id="severity-chart" style="width:100%; height:300px"></div>
                </div>
            </div>
            <div class="span4">
                <div class="block">
                    <h5 style="text-align:center;">Incident counts by status for the last year</h5>
                    <div id="status-chart" style="width:100%; height:300px"></div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}

{% endblock content %}
