{% extends 'base.html' %}
{% load comments %}
{% load mptt_tags %}
{% load cache %}

{% block title %}Incident #{{object.pk}} Details{% endblock title %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}datepicker/css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet">
{% endblock extra_css %}

{% block extra_js %}
    <script type="text/javascript" src="{{STATIC_URL}}select2/select2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}incidents/js/details.js?{{VERSION}}"></script>
    <script type="text/javascript">
        var TechniqueModality = {{techniques|safe}};
    </script>
{% endblock extra_js %}

{% block content %}
<div class="row">
    <div class="span9">
        <span class="pull-right">
            <a href="{{ request.META.HTTP_REFERER }}" title="Return to previous page">&larr; Previous page</a>
        </span>
    </div>
</div>
<div class="row">
    <div class="span9">
        <h4> Incident #{{object.pk}}
            {#<a href="#" class="pull-right" title="Export Incident" id="download"><i class="icon-download icon-large"></i>&nbsp;</a>#}
            {#<a href="#" class="pull-right" title="Print Incident Report" id="print"><i class="icon-print icon-large"></i>&nbsp;</a>#}
            <span class="pull-right">{% include "incidents/incident_flag.html"%}&nbsp;</span>
        </h4>
        <hr class="tight"/>
        {% if subscription %}
        <p> You are currently subscribed for email updates about this incident: <a href="{% url 'unsubscribe' pk=incident.pk %}?next=incident" title="Unsubscribe from this incident"> Unsubscribe</a>
        {% else %}
            <p> You are not currently subscribed for email updates about this incident:<a href="{% url 'subscribe' pk=incident.pk %}?next=incident" title="Subscribe to this incident"> Subscribe</a>
        {% endif %}
    </div>
</div>
<a id="report"></a>
<div class="space-top row">
    <div class="span9">
        <legend>
            Report
            {% if perms.incidents.change_incident %}
            <a href="#" class="pull-right" title="Edit Incident Report Details" id="edit-details"><i class="icon-edit icon-large"></i> Edit </a>
            {% endif %}
        </legend>
    </div>
</div>

<div id="details-display" class="row">
    <div class="span4 ">
        <dl class="dl-horizontal" >
            <dt>Incident Date:</dt>
            <dd>{{object.incident_date}}</dd>

            <dt>Report Date:</dt>
            <dd> {{object.submitted|date:"SHORT_DATE_FORMAT"}} by {{object.submitted_by}} </dd>

            <dt>Location:</dt>
            <dd>{{object.location.name}}</dd>

            <dt>Actual or Potential:</dt>
            <dd>{{object.actual_display}}</dd>

        </dl>
    </div>
    <div class="span4">
        <dl class="dl-horizontal" >

            <dt>Patient ID:</dt>
            <dd>{{object.patient_id|default:"&nbsp;"}}</dd>

            <dt>Incident Type:</dt>
            <dd>{{object.get_incident_type_display}}</dd>

            <dt># Affected:</dt>
            <dd>{{object.get_num_affected_display}}</dd>

            <dt>Incident Severity:</dt>
            <dd>{{object.get_severity_display|default:"&nbsp;"}}</dd>

        </dl>
    </div>
</div>
<div class="row">
    <div class="span9">
        <dl class="dl-horizontal" style="margin-top:10px;" >
            <dt>Description:</dt>
            <dd>{{object.description|linebreaks}}</dd>
        </dl>

        <hr class="tight"/>
    </div>
</div>

<div id="incident-form-wrapper" class="row" style="display: none;" >
    <div class="span9">

        <form id="incident-form" class="form form-horizontal" method="post">

            {% csrf_token %}

            <input type="hidden" name="form_name" value="incident_form" />

            {% for error in incident_form.non_field_errors %}
                <div class="control-group error">
                    <span class="help-block error">{{error}}</span>
                </div>
            {% endfor %}

            {% for field in incident_form %}
                <div class="control-group {% if field.errors %}error{% endif %}">
                    <label class="control-label" for="{{field.html_name}}">{{field.label}}{% if field.field.required %}*{% endif %}</label>
                    <div class="controls" >
                        {{field}}
                        {% if field.label == form.email.label %}
                            <span class="help-inline">{{field.help_text}}</span>
                        {% endif %}
                        {% for error in field.errors %}
                            <span class="help-block">{{error}}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary pull-right">Update Incident</button>
            <a href="#" style="margin-right:10px" id="cancel-edit" class="btn btn-small pull-right">Cancel</a>

        </form>

    </div>
</div>
<a id="investigation"></a>
<div class="space-top row" >

    <div class="span9" >

        <legend>
            Investigation


            {% if not incident.valid %}
                <span class="pull-right label label-inverse"><i class="icon-remove-sign"></i> Invalid</span>
            {% elif investigation.complete %}
                <span class="pull-right label label-success"><i class="icon-ok-circle"></i> Complete</span>
            {% else %}
                <span class="pull-right label label-warning"><i class="icon-circle-blank"></i> Incomplete</span>
            {% endif %}


        </legend>


        <div id="investigation-form-wrapper" >

            {% with incident.missing_fields as missing %}
                {% if missing and incident.valid and not investigation.complete %}
                <ul class="inline">
                    The following <strong>incident</strong> fields still need to be completed:
                    {% for field in incident_form.visible_fields %}
                        {% if field.html_name in missing %}
                            <li><em>{{field.label}}</em></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}

            {% with investigation.missing_fields as missing %}
                {% if missing and incident.valid and not investigation.complete %}
                <ul class="inline">
                    The following <strong>investigation</strong> fields still need to be completed:
                    {% for field in investigation_form.visible_fields %}
                        {% for missed in missing %}
                            {% if field.html_name in missed %}
                                <li><em>{{field.label}}</em></li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}

            <form id="investigation-form" class="form form-horizontal iform" method="post">

                {% csrf_token %}

                <input type="hidden" name="form_name" value="investigation_form" />

                {% for field in investigation_form.hidden_fields %}
                    {{field}}
                {% endfor %}

                {% for error in investigation_form.non_field_errors %}
                    <div class="control-group error">
                        <span class="help-block error">{{error}}</span>
                    </div>
                {% endfor %}

                {% if investigation.complete %}
                <div class="control-group">
                    <div class="span4 ">
                        <em>Investigation completed {{investigation.completed}}</em>.
                    </div>
                    </div>
                {% endif %}

                    {% for field in investigation_form.visible_fields %}
                        <div class="control-group {% if field.errors %}error{% endif %}"
                            data-content="{{field.help_text}}"
                            data-original-title="<strong>{{field.label}}</strong>">
                            <label class="control-label iform-label" for="{{field.html_name}}">
                                {{field.label}}{% if field.field.required %}*{% endif %}
                            </label>
                            <div class="controls" >

                                {% if "origin_domain" in field.auto_id %}
                                    <a title="Click to choose Origin Domain" class="btn modal-trigger input-xlarge" href="#domain-modal" role="button" data-toggle="modal">{% firstof field.form.instance.origin_domain.name '<i class="icon-question-sign"></i>' %}</a>
                                    <span class="help-block ancestors">
                                        {{ field.form.instance.origin_domain.ancestor_names }}
                                    </span>
                                    {{field.as_hidden}}
                                {% elif "detection_domain" in field.auto_id %}
                                    <a title="Click to choose Detection Domain" class="btn modal-trigger input-xlarge" href="#domain-modal" role="button" data-toggle="modal">{% firstof field.form.instance.detection_domain.name '<i class="icon-question-sign"></i>' %}</a>
                                    <span class="help-block ancestors">
                                        {{ field.form.instance.detection_domain.ancestor_names }}
                                    </span>
                                    {{field.as_hidden}}
                                {% elif "_cause" in field.auto_id %}
                                    <a title="Click to choose Cause"  class="btn modal-trigger input-xlarge" href="#cause-modal" role="button" data-toggle="modal">{% firstof field.form.instance.cause.name '<i class="icon-question-sign"></i>' %}</a>
                                    <span class="help-block ancestors">
                                        {{ field.form.instance.cause.ancestor_names }}
                                    </span>
                                    {{field.as_hidden}}
                                {% elif "harm" in field.auto_id %}
                                    <a title="Click to choose Degree of Harm" class="btn modal-trigger input-xlarge" href="#harm-modal" role="button" data-toggle="modal"> {% firstof field.form.instance.get_harm_display '<i class="icon-question-sign"></i>' %}</a>
                                    {{field.as_hidden}}

                                {% elif "severity" in field.auto_id %}
                                    <a title="Click to choose Incident Severity" class="btn modal-trigger input-xlarge" href="#severity-modal" role="button" data-toggle="modal"> {% firstof field.form.instance.incident.get_severity_display '<i class="icon-question-sign"></i>' %}</a>
                                    {{field.as_hidden}}
                                {% else %}
                                    {{field}}
                                {% endif %}

                                {% for error in field.errors %}
                                    <span class="help-block">{{error}}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                {% get_comment_list for object.investigation as comment_list %}
                {% for comment in comment_list %}
                <div class="control-group">
                    <label class="control-label" for="comment">{{comment.submit_date}}<br/>by {{comment.user}}</label>
                    <div class="controls" >
                        <p>{{comment.comment}}</p>
                    </div>
                </div>
                {% endfor %}


                <hr class="tight"/>

                {% if incident.valid %}
                    <div id="div_id_comment" class="control-group">
                        <label for="id_comment" class="control-label">Add Comment</label>
                        <div class="controls">
                            <textarea class="textarea input-block-level" rows="6" id="id_comment" name="comment"></textarea>
                        </div>
                    </div>
                    <hr class="tight"/>
                {% endif %}

                {% if incident.valid %}
                    <a href="#invalid-form" role="button" class="pull-left btn btn-danger btn-mini" data-toggle="modal">Mark Invalid</a>

                    <div class="btn-group pull-right">

                        <button type="submit" class="btn btn-primary btn-small">Update Investigation</button>
                        {% if request.GET.continue %}
                            <input id="do-save-and-continue" value="0" type="hidden" name="save_and_continue"/>
                            <button id="save-and-continue" type="submit" class="btn btn-primary btn-small">Update &amp; Go To Next</button>
                        {% endif %}

                    </div>

                {% else %}
                    <a href="#reopen-form" role="button" class="pull-right btn btn-primary btn-small" data-toggle="modal">Re-open</a>
                {% endif %}

            </form>

            <form id="invalid-form" class="modal hide fade form form-horizontal" method="post">
                <input type="hidden" name="form_name" value="invalid_form" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Mark Invalid</h4>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        {% csrf_token %}
                        <label class="control-label" for="invalid-comment">Add Comment</label>
                        <div class="controls" >
                            <textarea id="invalid-comment" class="input" name="invalid-comment"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <button id="submit-invalid" type="submit" href="#" class="btn btn-primary">Mark Invalid</button>
                </div>
            </form>

            <form id="reopen-form" class="modal hide fade form form-horizontal" method="post">

                <input type="hidden" name="form_name" value="reopen_form" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Re-open</h4>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        {% csrf_token %}
                        <label class="control-label" for="reopen-comment">Add Comment</label>
                        <div class="controls" >
                            <textarea id="reopen-comment" class="input" name="reopen-comment"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                    <button id="submit-reopen" type="submit" href="#" class="btn btn-primary">Re-open</button>
                </div>
            </form>

            <form id="complete-form" class="modal hide fade form form-horizontal" method="post">
                <input type="hidden" name="form_name" value="complete_form" />

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Complete Incident</h4>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        {% csrf_token %}
                        <p>Do you want to close this investigation?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">No</a>
                    <button id="submit-close" type="submit" href="#" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </div>
    </div>

</div>


<a id="learning"></a>
<div class="space-top row">
    <div class="span9">

        <form class="form form-horizontal" action="" id="action-details" method="post">

            <legend>Learning </legend>
            {% csrf_token %}
            <input type="hidden" name="form_name" value="actions_formset" />
            <h5>
                Corrective Actions Taken
                <a class="btn btn-mini pull-right" id="add_more"><i class="icon-plus-sign"></i> Add</a>
            </h5>

            {{actions_formset.management_form}}

            <div id="actions_formset">

                {% for form in actions_formset.forms %}
                    {% for error in form.non_field_errors %}
                    <div class="control-group error">
                        <span class="help-block error">{{error}}</span>
                    </div>
                    {% endfor %}
                    {{form.id}}

                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    <div class="control-group">
                        <label class="control-label" for="id_assigned"> Assigned </label>
                        <div class="controls">
                            <p style="padding-top:5px"> {{form.instance.assigned}}</p>
                        </div>
                    </div>
                    {% for field in form.visible_fields %}
                    <div class="control-group {% if field.errors %}error{% endif %}">
                        <label class="control-label" for="{{field.html_name}}">{{field.label}}{% if field.field.required %}*{% endif %}

                        </label>
                        <div class="controls">

                            {% if "action_type" in field.auto_id %}
                            <a title="Click to choose Action Type" class="btn modal-trigger input-xlarge" href="#action-modal" role="button" data-toggle="modal"> {% firstof field.form.instance.action_type '<i class="icon-question-sign"></i>' %}</a>
                                {{field.as_hidden}}
                            {% else %}
                                {{field}}
                            {% endif %}

                            <em>{{field.help_text}}</em>
                            {% for error in field.errors %}
                                <span class="help-block">{{error}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}

                    {% if form.instance.complete %}
                    <div class="control-group">
                        <div class="controls">
                            <em>Action completed {{form.instance.completed}}</em>.
                        </div>
                    </div>
                    {% endif %}
                {% if not forloop.last %} <hr/> {%endif%}
                {% endfor %}
            </div>

            <div class="clearfix"></div>

            <button type="submit" class="btn btn-primary btn-small pull-right">Update Corrective Actions</button>
        </form>

        <div id="empty_action_form" style="display:none">

            {% for hidden in actions_formset.empty_form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in actions_formset.empty_form.visible_fields %}
                <div class="control-group {% if field.errors %}error{% endif %}">
                    <label class="control-label" for="{{field.html_name}}">{{field.label}}{% if field.field.required %}*{% endif %}
                    </label>
                    <div class="controls">

                        {% if "action_type" in field.auto_id %}
                            <a title="Click to choose Action Type" class="btn modal-trigger input-xlarge" href="#action-modal" role="button" data-toggle="modal"> {% firstof field.form.instance.action_type '<i class="icon-question-sign"></i>' %}</a>
                            {{field.as_hidden}}
                        {% else %}
                            {{field}}
                        {% endif %}

                        <br/>
                        <em>{{field.help_text}}</em>
                        {% for error in field.errors %}
                            <span class="help-block">{{error}}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <hr/>
        </div>
    </div>
</div>

{% block modals %}

{% cache MAX_CACHE_TIMEOUT domain_modal %}
<div id="domain-modal" class="modal large hide fade" tabindex="-1" role="dialog" aria-labelledby="domainModalLabel" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 id="domainModalLabel">ILS Domains</h4>
    </div>

    <div class="modal-body">
        {% for domain in domains %}
            {% if forloop.counter0|divisibleby:3 %}<div style="clear:both"></div>{% endif %}
            <div class="modal-container" >

                <ul class="root">
                    {% recursetree domain %}
                        <li>
                            {% if not node.is_leaf_node %}
                                {{ node.name }}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% else %}
                            <a class="modal-link" data-pk="{{node.pk}}" data-toggle="popover" data-dismiss="modal" {% if node.description %}data-content="{{node.description}}"{% endif %} href="#">{{ node.name }}</a>
                                <input type="hidden" value="{{node.ancestor_names}}"/>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul>
            </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <a href="#" class="btn btn-small btn-warning modal-link" data-pk="" data-dismiss="modal">Clear</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>

</div>
{% endcache %}

{% cache MAX_CACHE_TIMEOUT cause_modal %}
<div id="cause-modal" class="modal large hide fade" tabindex="-1" role="dialog" aria-labelledby="causeModalLabel" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 id="causeModalLabel">ILS Causes</h4>
    </div>
    <div class="modal-body">
        {% for cause in causes %}
            {% if forloop.counter0|divisibleby:3 %}<div style="clear:both"></div>{% endif %}
            <div class="modal-container" >

                <ul class="root">

                    {% recursetree cause %}
                        <li>
                            {% if not node.is_leaf_node %}
                                {{ node.name }}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% else %}
                                <a class="modal-link" data-pk="{{node.pk}}" data-toggle="popover" data-dismiss="modal" {% if node.description %}data-content="{{node.description}}"{% endif %} href="#">{{ node.name }}</a>
                                <input type="hidden" value="{{node.ancestor_names}}"/>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul>
            </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <a href="#" class="btn btn-small btn-warning modal-link" data-pk="" data-dismiss="modal">Clear</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>

</div>
{% endcache %}

{% cache MAX_CACHE_TIMEOUT action_modal %}
<div id="action-modal" class="modal large hide fade" tabindex="-1" role="dialog" aria-labelledby="actionModalLabel" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 id="actionModalLabel">ILS Action Types</h4>
    </div>
    <div class="modal-body">
        {% for strength, action_set in actions %}
            <div class="modal-container" >
                <ul class="root">
                    <li>
                        {{strength}}
                        <ul class="children">
                            {% for action in action_set %}
                            <li>
                                <p>
                                    <a class="modal-link" data-pk="{{action.pk}}" data-toggle="popover" data-dismiss="modal" data-content="{{action.description}}" href="#">{{action.name}} ({{action.strength_display}})</a>
                                    {{action.description}}
                                </p>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <a href="#" class="btn btn-small btn-warning modal-link" data-pk="" data-dismiss="modal">Clear</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>

</div>
{% endcache %}

{% cache MAX_CACHE_TIMEOUT harm_modal %}
<div id="harm-modal" class="modal large hide fade" tabindex="-1" role="dialog" aria-labelledby="harmModalLabel" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 id="causeModalLabel">WHO Harm Definitions</h4>
    </div>
    <div class="modal-body">
        {% for harm, display, def in harms %}
            <div class="modal-container" >
                <ul class="root">
                    <li>
                        <p>
                            <a class="modal-link" data-pk="{{harm}}" data-toggle="popover" data-dismiss="modal" data-content="{{def}}" href="#">{{display}}</a>
                            {{def}}
                        </p>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <a href="#" class="btn btn-small btn-warning modal-link" data-pk="" data-dismiss="modal">Clear</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>

</div>
{% endcache %}

{# cache creates display errors in pop-up window for severity. Explore fixing this after future updates{% cache MAX_CACHE_TIMEOUT severity_modal %} #}
<div id="severity-modal" class="modal large hide fade" tabindex="-1" role="dialog" aria-labelledby="harmModalLabel" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 id="causeModalLabel">{{object.get_incident_type_display}} Incident Type Severities</h4>
    </div>
    <div class="modal-body">
        {% for sev, display, def in severities %}
            <div class="modal-container" >
                <ul class="root">
                    <li>
                        <p>
                            <a class="modal-link" data-pk="{{sev}}" data-toggle="popover" data-dismiss="modal" data-content="{{def}}" href="#">{{display}}</a>
                            {{def}}
                        </p>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <a href="#" class="btn btn-small btn-warning modal-link" data-pk="" data-dismiss="modal">Clear</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>

</div>
{# {% endcache %} #}

{% endblock modals %}
{% endblock content %}

