{% extends 'base.html' %}

{% load listable %}

{% block title %}Complete Incident Actions{% endblock title %}

{% block page_title %}<h3>Complete Incident Actions</h3>{% endblock page_title %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet">
    {% listable_css %}
{% endblock extra_css %}

{% block extra_js %}

    {% block listable %}
    {% listable 'complete-actions' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}
    {% endblock listable %}

    <script type="text/javascript" src="{{STATIC_URL}}select2/select2.min.js"></script>
    <script src="{{ STATIC_URL }}incidents/js/models.js"></script>
{% endblock %}


{% block content %}

{% block page_description %}
<p>All complete incident actions in the system</p>
{% endblock page_description %}

<div class="row">
    <div class="span12">
        {{listable_table}}
    </div>
</div>

{% endblock content %}

