{% extends 'incidents/incident_list.html' %}

{% load listable %}

{% block title %}Incomplete Incidents{% endblock title %}

{% block page_title %}<h3>Incidents currently under investigation</h3>{% endblock page_title %}

{% block listable %}
{% listable 'incomplete-incidents' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}
{% endblock listable %}

{% block page_description %}
<p>Showing incidents currently under investigation.</p>
{% endblock page_description %}
