{% extends 'incidents/incident_list.html' %}
{% load listable %}

{% block title %}Invalid Incidents{% endblock title %}

{% block page_title %}<h3>Invalid Incidents</h3>{% endblock page_title %}

{% block listable %}
    {% listable 'invalid-incidents' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}
{% endblock %}

{% block page_description %}
<p>Showing incidents marked invalid.</p>
{% endblock page_description %}
