body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 2000;
}

ol{
    list-style:circle;
}
ol.vertical {
  margin: 0 0 0px 0;
  padding-left:5px;
}

ol.vertical li.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
ol.vertical li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -5px;
  left: -5px;
  top: -4px;
  border: 5px solid transparent;
  border-left-color: #FF0000;
  border-right:none;
}
form.choice-form {
    margin-bottom:0;
}
ol.vertical li.choice-item {
    background-color:#f9f9f9;
    padding-bottom: 2px;
    margin-bottom:10px;
}
.choice-form .control-group {
    margin-bottom:3px;
}
.colorpicker {
    margin-top:0;
}

select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"],
input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"],
.uneditable-input,
.input-append .add-on, .input-prepend .add-on
{
    height:14px;
    line-height:14px;
}
textarea, textarea.input-block-level {

    padding: 4px 6px 1px 6px ;
    min-height:24px;
}


ol.nested_with_switch li, ol.simple_with_animation li, ol.default li {
cursor: pointer;
}
ol.vertical li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee;
}
li {
    line-height: 18px;
}
